<a class="nav-link text-dark" asp-area="" asp-controller="FinalPage" asp-action="FinalPage">save&continue</a>

<div class="formbold-main-wrapper">
  <div class="w-full">
    <div class="formbold-form-wrapper">
      <form
        action="WorkFlow"
        method="POST"
        class="formbold-chatbox-form"
      >
        <div class="formbold-mb-5">
          <label for="StageName" class="formbold-form-label"> Stage Name </label>
          <input
            type="text"
            name="StageName"
            id="StageName"
            placeholder="StageName"
            class="formbold-form-input"
          />
        </div>

        <div class="formbold-mb-5">
          <label for="stageType" class="formbold-form-label"> Stage Type </label>
          <input
            type="text"
            name="stageType"
            id="stageType"
            placeholder="stageType"
            class="formbold-form-input"
          />
        </div>
      </form>
    </div>
  </div>
</div>